@charset "UTF-8";

table {
  width: 100%;
}
table thead {
  text-align: left;
}
th {
  padding-bottom: 10px;
  border-bottom: 2px solid #000;
}
tr {
  cursor: pointer;
}
td {
  padding: 15px 0;
  border-bottom: 1px solid #ddd;
}