@charset "UTF-8";

.navbar {
  height: 60px;
  background-color: #555555;
  color: #e4e4e4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin-bottom: 20px;
}

.navbar h1 a {
  display: flex;
  align-items: center;
}

.navbar h1 a span {
  margin-left: 10px;
}

.navbar .menu_list a {
  margin-left: 10px;
}

.navbar a {
  transition: .2s;
}

.navbar a:hover {
  color: #ffffff;
}

.navbar .logout_text {
  cursor: pointer;
}